[Unit]
Description=CGroups Rules Engine Daemon
After=syslog.target

[Service]
EnvironmentFile=-/etc/sysconfig/cgred
ExecStart=/sbin/cgrulesengd -n $OPTIONS

[Install]
WantedBy=multi-user.target
